body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container{
    text-align: center;
}

.game-board{
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    background-color: #fff;
}
.score{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;

}
.snake {
    background-color: green;
    border: 1px solid #45a049;
}
.food {
    background-color: red;
    border: 1px solid #a000;
    border-radius: 50%;
}
